@{
    ViewBag.Title = "About Us";
}
<h1><bold>@ViewBag.Title.</bold></h1>
@*<h3>@ViewBag.Message</h3>*@

<br />
<br />
<center>
    <h3>
        Are you sick of the mundane ways that garbage is being collected today?
    </h3>
    <h3>
        Are you ready for a revolutionized way of garbage pickup?
    </h3>
    <h3>
        Are you wanting to have more control over when your trash is picked up?
    </h3>
</center>


<br />
<br />

<h4>If any of these questions apply to you then you've come to the right place!</h4>

<br />

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <p>As a registered user for 'Online Trash', you'll be able to change your garbage pickup to any day you'd like. No more paying the city for trash pickups that you don't even participate in. Going on vacation? Just let us know and we can not charge you for a pickup until you've returned. With an automated payment system, you can see how much you owe each month depending on the amount of pickups you've scheduled.</p>
            <p>WE CHARGE ONLY $5 PER PICKUP!</p>
            <p>Your current bill is always available online for you to pay whenever you'd like. On the last day of every month your current bill amount will automatically be deducted from your account.</p>
            <p>If you won't be home or are going on vacation and don't need a pickup on your scheduled weekly day just let us know!</p>
        </div>
        <div class="col-sm-6">
        </div>
    </div>
</div>

<br />

<center>
    <h4>Click the 'Register' link on the right above to begin your revolutionized trash pickup journey!</h4>
</center>

