@{
    ViewBag.Title = "Contact Us";
}
<h1><bold>@ViewBag.Title.</bold></h1>
@*<h3>@ViewBag.Message</h3>*@

<br />

<address>
    Online Trash<br />
    555 E St. Paul Ave<br />
    Milwaukee, WI 53202-6399<br />
    <abbr title="Phone">P:</abbr>
    414.555.5000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@trash.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@trash.com">Marketing@example.com</a>
</address>