@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>
        <h1>Online Trash</h1>
        <p class="lead">Let Your Trash Be OUR Problem!</p></center>
        <p><a href="/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        @if (!Request.IsAuthenticated)
        {
            <p><a id="registerLink" href="Account/Register" class="btn btn-primary btn-large">REGISTER TODAY &raquo;</a></p>
        }
</div>

<br />


    <center><img src="~/Images/HomePicture.png" /></center>



